<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-logo">
      <img src="/univalle_1.png" alt="Logo Univalle" class="univalle-logo">
      <span class="univalle-name">Universidad del Valle, sede Tuluá</span>
    </div>
    <div class="footer-info">
      <div class="github-links">
        <a href="https://github.com/casariz/frontend-PronunciAPP" target="_blank" rel="noopener" class="github-link">
          <i class="fa-brands fa-github"></i> Front
        </a>
        <a href="https://github.com/casariz/VALL-E-X" target="_blank" rel="noopener" class="github-link">
          <i class="fa-brands fa-github"></i> Back
        </a>
      </div>
      <div class="footer-description">
        DANIEL FELIPE CASALLAS ORTIZ - 2059974
      </div>
    </div>
  </div>
</footer>
