<div class="layout-container" [class.sidebar-collapsed]="sidebarCollapsed">
  <!-- <div class="top-navbar">
    <h2 class="page-title">{{ currentPage }}</h2>
  </div>
   -->
  <div class="sidebar" [class.collapsed]="sidebarCollapsed">
    <div class="app-title">
      <h3 [class.app-icon-only]="sidebarCollapsed" (click)="toggleSidebar()" class="clickable-title">
        <span *ngIf="!sidebarCollapsed">PronunciAPP</span>
        <i *ngIf="sidebarCollapsed" class="fas" [ngClass]="sidebarCollapsed ? 'fa-bars' : 'fa-times'"></i>
      </h3>
    </div>
    
    <div class="navigation">
      <ul>
        <li>
          <a routerLink="/dashboard" routerLinkActive="active">
            <i class="fas fa-tachometer-alt"></i>
            <span *ngIf="!sidebarCollapsed">Dashboard</span>
          </a>
        </li>
        <!-- <li>
          <a routerLink="/historial" routerLinkActive="active">
            <i class="fas fa-history"></i>
            <span *ngIf="!sidebarCollapsed">Historial</span>
          </a>
        </li>
        <li>
          <a routerLink="/settings" routerLinkActive="active">
            <i class="fas fa-cog"></i>
            <span *ngIf="!sidebarCollapsed">Configuración</span>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
  
  <div class="content-area">
    <ng-content></ng-content>
  </div>
</div>
